body{
  margin: 0px;
  padding: 0px;
  background-color:#f9f8f8f6;

}
  #emailTitel {
    text-align: center;
    padding-bottom: 25px;
    margin-top: 0px;
  }

  #emailInput {
    margin-bottom: 10px;
    height: 30px;
    border-radius: 10px;
}

  #emailButton {
    margin-top: 20px;
    margin-left: 0;
    height: 40px;
    border-radius: 10px;
    font-size:medium;
    width: auto;
}
  .main{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 200px;

  }

  .emailContainer{
    height: 100vh;

  }

  @media (max-width: 828px) {
    .main{
      margin: auto;
      margin-top: 200px;
      width: 90%;
      text-align: center;
    }
    #emailInput{
      height: 40px;
      border-radius: 10px;
    }
    #emailButton {
      height: 40px;
      border-radius: 10px;
    }
  }
  @media (max-width: 828px) and (-webkit-device-pixel-ratio: 2) {
    .main{
      margin: auto;
      margin-top: 200px;
      width: 90%;
      text-align: center;
    }
    #emailInput{
      height: 40px;
      border-radius: 10px;
    }
    #emailButton {
      height: 40px;
      border-radius: 10px;
    }
  }