.container {
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
  }
  #titleSubmission{
    color: #0077ffc8;
    padding-top: 50px;
    font-size: 30px;
  }
  #index{
    font-weight: bolder;
  }
  #submissionElements{
    width: 450px;
    margin: auto;
    text-align: left;
    font-family: verdana, sans-serif;
    font-weight: 100;
  }
  #submissionElements p{
    font-size: large;
    line-height: 25px;
  }
  #submissionForm{
    margin-top: 20px;
    text-align: center;
  }

  .emblem{
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  .startSurvey{
    width: 80%;
    font-size: larger;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  h1 {
    margin-bottom: 20px;
    margin-left: 50px;
  }
  h5{
    background-color: rgba(255, 0, 0, 0.2); 
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
  }
  .header{
    height: 80px;
    background-color: #fff;
  }
  .title{
    float: left;
  }
  .login-form {
    float: right;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
  }
  #unihat{
    width: 50px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
  }
  .review-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #0077ffc8;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    margin-right: 50px;
    
  }
  
  .review-button:hover {
    background-color: #075ec1c2;
  }
  #uniLogin{
    color: rgba(227, 83, 50, 0.631);
  }
  #banner{
    position: relative;
    height: 300px;
  }
  #uniImage{
    height: 300px;
    width: 100vw;
    object-fit: cover;
    object-position: 50% 25%;
    z-index: 1;
  }
  #banner::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-image: linear-gradient(to bottom, transparent, black); /* Update the gradient colors */
    opacity: 0.5; /* Adjust the opacity of the gradient overlay */
  }
  

  #bannerText{
    position: absolute;
    bottom: 40px;
    color: white;
    font-size: 16px; /* Adjust the font size */
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    z-index: 3;
    font-size:40px;
  }

  #NZ{
    font-size:50px;
    font-weight: bold;
  }

  .query-results {
    padding-top: 20px;
    background-color: #f9f8f8f6;
    height: 50vh;
    width: 100%;
  }
  #table {
    width: 90%;
    border-collapse: collapse;
    padding: 0px;
    margin: auto;
    margin-top: 30px;
  }
  th,
  #table td {
    padding: 7px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
    font-size: medium;
  }
  #table th {
    border-bottom: 1px solid #e7e3e3f6;
    border-top: none;
    font-size: large;
  }
  tr{
    border-radius: 5px;
    font-size: larger;
  }
  tr:hover {
    background-color: #f2f2f2;
  }

  #returnToRankings{
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: larger;
    background-color: #0077ffc8;
  }
  #returnToRankings:hover {
    background-color: #075ec1c2;
  }

  .ratingContainer{
    position: relative;
  }
  #numRatings{
    position: absolute;
    color: grey;
    padding-left: 10px;
    margin-top: 2px;
    font-size: 12px;
    font-weight: bold;
  }
  #uniName{
    position: relative;
    margin-bottom: 5px;
  }
  .review{
    background-color: rgb(206, 206, 206);
    color: white;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 500;
  }
  .review label{
    color: black;
  }
  .review .notes{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .userIndividualRating{
    padding-left: 30px;
  }
  .otherRatings{
    padding-top: 5px;
    font-weight: 700;
  }
  .ratingsStars{
    text-align: center;
  }
  #divButtonReturnToRankings{
    width: 80%;
    margin: auto;
  }
  #divButtonReturnToRankings button{
    margin-left: 0px;
    width: 100%;
  }
  #overallAverageScore{
    width: 80%;
    margin: auto;
  }
  #averageScoreDetails{
    padding: 20px;
    text-align: left;
    width: 80vw;
    margin: auto;
  }
  #UniDetails{
    text-align: left;
  }  
  #browseRatings{
    text-align: center;
  }
  .averagesUni{
    padding-top: 5px;
    padding-bottom:5px;
  }
  .courseChoice{
    font-weight: bolder;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  @media (max-width: 828px) {
    #unihat{
      display: none;
      height: 0px;
      width: 0px;
    }
    .title{
      width: 200px;
      margin-left: 5px;
      margin-right: 0px;
      padding-right: 0px;
    }
    .login-form{
      width: 130px;
      padding: 0px;
      margin-right: 0px; 
      margin-left: 0px;
      padding-left: 0px;
      left: 0px;
    }  
    .google-button{
      padding: 0px;
    }
    #banner{
      height: 200px;
    }
    #uniImage{
      height: 200px;
    }
    #banner::after{
      height: 100%;
      position: absolute;
      left: 0;
      content: "";
      width: 100%;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    }
    #index{
      font-weight: bolder;
    }
    #table {
      width: 95%;
    }
    #NZ{
      font-size: 35px;
    }
    #bannerText{
      font-size: 20px;
      bottom: 20px;
    }
    #uniRow{
      width: 150px;
    }
    #submissionElements{
      width: 90%;
    }
  
  }

